@import "_settings.scss";

span.inline-block {
	display: inline-block;
}

.custom-aweber-text {
	background: #ffffff !important;

	a {
		color: #2E7AD1;
	}
}

.custom-aweber-text a {
	color: #2E7AD1;
}

